Language:     Cpp
BasedOnStyle: LLVM

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true

DerivePointerAlignment: true

ForEachMacros:   [ for_int, for_int_down, for_i, for_i_down, for_ij ]

SpacesBeforeTrailingComments: 2

